<div id="modal6" class="uk-modal">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h2 class="uk-text-center">Заказать обратный звонок</h2>
    </div>
    <form method="post" action="[[~[[*id]]]]" class="ajax_form uk-form">
      <input type="text" name="nospam:blank" value="" style="display:none;" />
      <input type="hidden" name="callback" value="1" />
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-1-1">
          <input type="text" name="phone" placeholder="380990567425" class="uk-width-1-1 uk-form-large" value="[[!+fi.phone:default=`[[+modx.user.id:userinfo=`phone`]]`:ne=`0`:show]]">
          <div class="error_phone uk-text-small" style="text-align: left;">[[!+fi.error.phone]]</div>
        </div>
        <div class="uk-width-1-1">
          <button type="submit" class="uk-width-1-1 uk-button uk-button-large uk-button-primary uk-margin-top">Отправить</button>
        </div>
      </div>
    </form>
  </div>
</div>