<div class="uk-width-medium-2-3">
        <div class="uk-panel">
          <h3 class="uk-panel-title">Адрес на карте</h3>        
          <div class="google-maps uk-margin-bottom">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6929.346867460142!2d23.752099289513296!3d52.1180559747313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47210ec6d531768b%3A0xc51bb191b246e001!2z0YPQuy4g0JzQvtGI0LXQvdGB0LrQvtCz0L4gNzgsINCR0YDQtdGB0YIsINCR0ZbQu9C-0YDRg9GB0Yw!5e0!3m2!1suk!2sua!4v1481022966710" width="540" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      
      