<p><strong>Пришло сообщение со страницы контактов!</strong></p>

<p><strong>Имя: </strong> [[+fullname]]</p>
<p><strong>Email: </strong> [[+email]]</p>
<p><strong>Сообщение: </strong> [[+message]]</p>