<form method="post" action="[[~[[*id]]]]" class="ajax_form uk-form uk-form-stacked">
  <input type="text" name="nospam:blank" value="" style="display:none;" />
  <input type="hidden" name="contact" value="1" />
  <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
    <div class="uk-width-1-1">
      <label class="uk-form-label" for="fullname">Имя</label>
      <input type="text" placeholder="Введите своё имя..." name="fullname" value="[[!+fi.fullname:default=`[[+modx.user.id:userinfo=`fullname`]]`:ne=`0`:show]]" id="fullname" class="uk-width-1-1 uk-form-large">
      <div class="error_fullname uk-text-small">[[!+fi.error.fullname]]</div>
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label" for="email">E-Mail</label>
      <input type="text" name="email" value="[[!+fi.email:default=`[[+modx.user.id:userinfo=`email`]]`:ne=`0`:show]]" placeholder="Введите свой email..." id="email" class="uk-width-1-1 uk-form-large">
      <div class="error_email uk-text-small">[[!+fi.error.email]]</div>
    </div>
    <div class="uk-width-1-1">
      <label class="uk-form-label" for="message">Сообщение</label>
      <textarea rows="6" name="message" placeholder="Текст сообщения..." id="message" class="uk-width-1-1 uk-form-large">[[!+fi.message]]</textarea>
      <div class="error_message uk-text-small">[[!+fi.error.message]]</div>
    </div>
    <div class="uk-width-1-1">
      <button class="uk-button uk-button-large uk-button-primary uk-width-1-1"><i class="uk-icon-paper-plane"></i> &nbsp;Отправить</button>
    </div>
  </div>
</form>