<h3>[[%ec_fe_message_add]]</h3>
<form class="uk-form uk-form-stacked form well ec-form" method="post" role="form" id="ec-form-[[+fid]]" data-fid="[[+fid]]" action="">
    <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
        <input type="hidden" name="thread" value="[[+thread]]">
        <div class="form-group ec-antispam">
            <label for="ec-[[+antispam_field]]-[[+fid]]" class="control-label">[[%ec_fe_message_antismap]]</label>
            <input type="text" name="[[+antispam_field]]" class="uk-width-1-1 uk-form-large" id="ec-[[+antispam_field]]-[[+fid]]" value="" />
        </div>

        <div class="uk-width-medium-1-2">
            <label for="ec-user_name-[[+fid]]" class="uk-form-label">[[%ec_fe_message_user_name]]</label>
            <input type="text" name="user_name" class="uk-width-1-1 uk-form-large" id="ec-user_name-[[+fid]]" value="[[+user_name]]" />
            <span class="ec-error help-block" id="ec-user_name-error-[[+fid]]"></span>
        </div>

        <div class="uk-width-medium-1-2">
            <label for="ec-user_email-[[+fid]]" class="uk-form-label">[[%ec_fe_message_user_email]]</label>
            <input type="text" name="user_email" class="uk-width-1-1 uk-form-large" id="ec-user_email-[[+fid]]" value="[[+user_email]]" />
            <span class="ec-error help-block" id="ec-user_email-error-[[+fid]]"></span>
        </div>

        <div class="uk-width-1-1">
            <label for="ec-rating-[[+fid]]" class="uk-form-label">[[%ec_fe_message_rating]]</label>
            <input type="hidden" name="rating" id="ec-rating-[[+fid]]" value="[[+rating]]" />
            <div class="ec-rating ec-clearfix" data-storage-id="ec-rating-[[+fid]]">
                <div class="ec-rating-stars">
                    <span data-rating="1" data-description="[[%ec_fe_message_rating_1]]"></span>
                    <span data-rating="2" data-description="[[%ec_fe_message_rating_2]]"></span>
                    <span data-rating="3" data-description="[[%ec_fe_message_rating_3]]"></span>
                    <span data-rating="4" data-description="[[%ec_fe_message_rating_4]]"></span>
                    <span data-rating="5" data-description="[[%ec_fe_message_rating_5]]"></span>
                </div>
                <div class="ec-rating-description">[[%ec_fe_message_rating_0]]</div>
            </div>
            <span class="ec-error help-block" id="ec-rating-error-[[+fid]]"></span>
        </div>

        <div class="uk-width-1-1">
            <label for="ec-text-[[+fid]]" class="uk-form-label">[[%ec_fe_message_text]]</label>
            <textarea type="text" name="text" class="uk-width-1-1 uk-form-large" rows="5" id="ec-text-[[+fid]]">[[+text]]</textarea>
            <span class="ec-error help-block" id="ec-text-error-[[+fid]]"></span>
        </div>
        <div class="uk-width-1-1 form-actions">
            <button type="submit" class="uk-button uk-button-large uk-button-primary uk-width-1-1" name="send" value="[[%ec_fe_send]]" /><i class="uk-icon-paper-plane-o"></i>&nbsp;Отправить</button>
        </div>
    </div>
</form>
<div id="ec-form-success-[[+fid]]"></div>