
<!-- <div id="ec-[[+thread_name]]-message-[[+id]]" class="ec-message">
    <p><strong>[[+user_name]]</strong><span class="ec-message__date"> [[+date:dateAgo]]</span></p>
    <div class="ec-stars">
        <span class="rating-[[+rating]]"></span>
    </div>
    <p>[[+text]]</p>
    [[+reply_text]]
</div> -->
<li id="ec-[[+thread_name]]-message-[[+id]]" class="ec-message">
  <article class="uk-comment">
    <header class="uk-comment-header">
      <!-- <img class="uk-comment-avatar" src="/assets/templates/uikit/img/comment-user-01.jpg" width="50" height="50" alt="User Image"> -->
      <h4 class="uk-comment-title">[[+user_name]]</h4>
      <div class="uk-comment-meta">
        [[+date:dateAgo]] 
        <div class="ec-stars">
          <span class="rating-[[+rating]]"></span>
        </div>
      </div>
    </header>
    <div class="uk-comment-body">
      <p>[[+text]]</p>
      [[+reply_text]]
    </div>
  </article>
</li>
<!--ec_reply_text <div class="ec-message__reply">[[+reply_author]]<p>[[+reply_text]]</p></div>-->
<!--ec_reply_author <p><strong>[[+reply_author]]</strong></p>-->