<footer>
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-small-2-4 uk-width-large-1-4">
        <h3 class="uk-margin-top">Информация</h3>
        <ul>
          <li><a href="#">Обмен и возврат</a></li>
          <li><a href="#">Бренды</a></li>
          <li><a href="#">Акции и скидки</a></li>
          <li><a href="#">Доставка и Оплата</a></li>
          <li><a href="#">Размерные таблицы</a></li>
          <li><a href="#">Публичный договор</a></li>
        </ul>
      </div>
      <div class="uk-width-small-2-4 uk-width-large-1-4">
        <h3 class="uk-margin-top">Контакты</h3>
        <div>+375 29 79-108-79 (МТС)</div>
        <div>+796 45 33-700-94 (MTC)</div>
        <div><i class="uk-icon-industry"></i> Беларусь, г. Брест, ул. Мошенского, 78</div>
        <i class="uk-icon-map"></i> <a href="#">Посмотреть на карте </a>
        <br>
        <!-- <i class="uk-icon-paper-plane"></i>  --><a href="mailto:#">triko_by@mail.ru</a>
      </div>
      <div class="uk-width-small-2-4 uk-width-large-1-4">
        <h3 class="uk-margin-top">Подписка на новости</h3>
        <p>Узнавайте первыми о новых акция, распродажах и новостях моды - подпишитесь на email рассылку</p>
        <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=triko_by', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" class="uk-form uk-width-1-1">
            <!-- <div class="uk-form-icon uk-width-1-1"> -->
            <!-- <i class="uk-icon-envelope"></i> -->
            <input name="email" class="uk-width-1-1 uk-margin-small-bottom" type="text" placeholder="Введите свой email">
            <input type="hidden" value="triko_by" name="uri"/>
            <input type="hidden" name="loc" value="ru_RU"/>
            <button type="submit" class="uk-width-1-1 uk-button"><i class="uk-icon-envelope-o"></i> Подписаться</button>
            <!-- </div> -->
          </form>
      </div>
      <div class="uk-width-small-2-4 uk-width-large-1-4">
        <h3 class="uk-margin-top">Социальные сети</h3>
        <p>Следите за обновлением каталога на наших страницах в социальных сетях</p>
        <div class="social-links">
          <a href="#" class="uk-border-circle"><i class="uk-icon-vk"></i></a>
          <a href="#" class="uk-border-circle"><i class="uk-icon-facebook"></i></a>
          <a href="#" class="uk-border-circle"><i class="uk-icon-twitter"></i></a>
          <a href="#" class="uk-border-circle"><i class="uk-icon-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy uk-position-relative">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-2">Made with <i class="uk-icon-heart uk-text-danger"></i> by <a href="http://promo-creative.com" target="_blank">Vladimir Kamuz</a> © 2013 – 2016</div>
      <div class="uk-width-1-2 uk-text-right"><a href="http://promotionua.com/internet-magazin/">Создание интернет-магазина на MODX Revolution</a></div>
      <a href="#top" id="to-up" class="uk-text-center uk-button" data-uk-smooth-scroll><i class="uk-icon-angle-double-up"></i></a>
    </div>
  </div>
</div>
  <script src="https://npmcdn.com/social-likes-next/dist/social-likes.min.js"></script>