<div class="uk-width-1-3">
  <figure class="uk-overlay uk-overlay-hover">
    <img class="uk-overlay-spin" src="[[pthumb? &input=`assets/resourceimages/[[*id]]/[[+image]]` &options=`w=250&h=330&zc=TC`]]" alt="Product Image">
    <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></figcaption>
    <a class="uk-position-cover slideshow-item" href="#" data-uk-slideshow-item="[[+idx:decr]]"></a>
  </figure>
</div>