<li>
  <figure class="uk-overlay uk-overlay-hover">
    <img class="uk-overlay-spin" src="[[pthumb? &input=`assets/resourceimages/[[*id]]/[[+image]]` &options=`w=770&h=1000&zc=TC`]]" alt="[[*pagetitle]]">
    <figcaption class="uk-overlay-panel uk-overlay-icon uk-overlay-background uk-overlay-fade"></figcaption>
    </figcaption>
    <a class="uk-position-cover" href="[[pthumb? &input=`assets/resourceimages/[[*id]]/[[+image]]` &options=`w=800&h=800&z=TC`]]" data-uk-lightbox="{group:'single_product'}"></a>
  </figure>
</li>