<div id="header">
  <div class="uk-container uk-container-center">
    <header class="uk-grid">
      <div class="uk-width-large-1-3 name uk-width-medium-1-3 uk-width-small-1-2 uk-grid-width-1-1">
      <div id="logo">
        [[*id:isnot=`1`:then=`<a href="[[++site_url]]">`]]
          <div id="logo-icon" class="uk-align-left"><i class="uk-icon-modx"></i></div>
          <div id="logo-text">[[++site_name]]</div>
          <div class="slogan">[[++site_description]]</div>
        [[*id:isnot=`1`:then=`</a>`]]
        </div>
      </div>
      <div class="uk-width-large-1-3 uk-width-medium-1-3 uk-hidden-small">
        [[!SimpleSearchForm? &landing=`33` &tpl=`search_form`]]
        [[-!mSearchForm? &tplForm=`msearch2_form` &pageId=`33`]]
      </div>
      <div class="uk-width-large-1-3 uk-width-medium-1-3 uk-width-small-1-2 uk-grid-width-1-1 uk-text-right uk-text-center-small">
        <a href="#modal6" data-uk-modal="{center:true}">Заказать обратный звонок</a>
        [[!AjaxForm?
          &snippet=`FormIt`
          &form=`callback_order`
          &hooks=`spam,email`
          &submitVar=`callback`
          &emailTpl=`callback_email`
          &emailSubject=`В интернет-магазине "[[++site_name]]" заказали обратный звонок`
          &emailTo=`[[++emailsender]]`
          &emailFrom=`[[++emailsender]]`
          &validate=`phone:required:isNumber:minLength=^10^:maxLength=^16^`
          &errTpl=`<span class="error">[[+error]]</span>`
          &validationErrorMessage=`В форме содержатся ошибки!`
          &successMessage=`Сообщение успешно отправлено`
        ]]
        <div class="phone"><i class="uk-icon-volume-control-phone"></i> +38 (099) 061-74-40</div>
      </div>
    </header>
  </div>
</div>