<div class="uk-width-large-2-10 uk-width-medium-3-10 uk-width-small-10-10 uk-hidden-small show-hide">
  <div class="uk-panel uk-panel-box  uk-margin-top">
    <h3 class="uk-panel-title">Производители</h3>
    [[Wayfinder@menu_category]]
  </div>
  <div class="uk-clearfix uk-margin-bottom"></div>
  [[$filters]]
</div>