<form action="[[~[[+pageId]]]]" method="get" id="mse2_form" class="well msearch2 uk-form uk-margin-small-top">
  <div class="uk-form-icon uk-width-">
    <input type="text" name="[[+queryVar]]" placeholder="[[%mse2_search]]" value="[[+mse2_query]]" placeholder="Поиск по каталогу..." class="uk-width-1-1 uk-form-large">
    <i class="uk-icon-search"></i>
  </div>
</form>