<!--noindex-->
<div class="uk-grid">
  <div class="uk-width-1-2">
    <div class="uk-margin-small-bottom">Номер заказа: <b>[[+order_id]]</b></div>
    <div class="uk-margin-bottom">Дата: <b>[[+date]]</b></div>
  </div>
  <div class="uk-width-1-2 uk-text-right">
    <div class="uk-margin-small-bottom">Статус: <span style="background-color: [[+status_color]]; color: #000;" class="uk-badge uk-badge-notification"> [[+status_name]]</span></div>
    <form action="[[~[[*id]]]]?ord_id=[[+order_id]]" method="post" onsubmit="return confirm('Вы уверены?');">
      <input type="hidden" name="ord_id" value="[[+order_id]]" />
      <input type="hidden" name="action" value="cancel" /> [[+status:ne=`[[+statusCanceled]]`:then=`
      <button type="submit" class="uk-button uk-button-mini uk-button-danger">
        <span class="uk-icon-remove"></span> Отменить заказ
      </button>
      `:else=``]]
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Состав заказа</h3>
  </div>
  <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <thead>
      <tr class="active">
        <th>Наименование</th>
        <th>Параметры</th>
        <th>Кол-во, шт.</th>
        <th>Цена, [[+currency]]</th>
      </tr>
    </thead>
    <tbody>
      [[+purchases]]
    </tbody>
    <tfoot>
      <tr class="cart-order">
        <td colspan="3" style="text-align: right;">
          <b>Итого:</b>
        </td>
        <td>
          <b>[[+price:num_format]]</b>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<a name="contacts"></a>
<form action="[[~[[*id]]]]?ord_id=[[+order_id]]" method="post" class="uk-form">
  <input type="hidden" name="ord_id" value="[[+order_id]]" />
  <input type="hidden" name="action" value="update" />
    <h3>Контактные данные</h3>
    <div>
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
      <colgroup>
        <col width="50%" span="2">
      </colgroup>
      <tbody>
        [[+contacts]]
      </tbody>
    </table>
    </div>
  [[+action:is=`edit`:then=`
  <div class="uk-align-right">
    <button type="submit" class="uk-button">
      <span class="glyphicon glyphicon-ok"></span> Сохранить
    </button>
    <button type="button" class="uk-button" onclick="window.location.href='[[~[[*id]]]]?ord_id=[[+order_id]]'">Отмена</button>
  </div>
  `:else=``]]
  <nav>
    <a class="uk-button uk-align-left" href="[[~[[*id]]]]">
      <span class="uk-icon-angle-double-left"></span> Назад
    </a>
    [[+action:ne=`edit`:then=`
    <a class="uk-button uk-align-right" href="[[~[[*id]]]]?ord_id=[[+order_id]]&amp;action=edit#contacts">
      <span class="uk-icon-pencil"></span> Редактировать контактные данные
    </a>
    `:else=``]]
  </nav>
</form>

<!--/noindex-->
