<tr>
    <td>
        [[+id]]
    </td>
    <td>
        [[+date]]
    </td>
    <td>
        [[+price:num_format]] [[+currency]]
    </td>
    <td>
        <span style="background-color: [[+status_color]]; color: #000;" class="uk-badge uk-badge-notification">
            [[+status_name]]
        </span>
    </td>
    <td>
        <a href="[[~[[*id]]]]?ord_id=[[+id]]">Подробнее</a>
    </td>
</tr>