<form method="post" action="[[~[[*id]]]]" id="order-one-click" class="ajax_form uk-form">
  <input type="text" name="nospam:blank" value="" style="display:none;" />
  <input type="hidden" name="one-click" value="1" />
  <div class="uk-grid uk-grid-small">
    <div class="uk-width-1-1">
      <input type="text" name="fullname" placeholder="Имя" class="uk-width-1-1 uk-form-large uk-margin-bottom"value="[[!+fi.fullname:default=`[[+modx.user.id:userinfo=`fullname`]]`:ne=`0`:show]]">
      <div class="error_fullname uk-text-small">[[!+fi.error.fullname]]</div>
    </div>
    <div class="uk-width-1-1">
      <input type="text" name="email" placeholder="Телефон, email, скайп и т.д." class="uk-width-1-1 uk-form-large uk-margin-bottom" value="[[!+fi.email:default=`[[+modx.user.id:userinfo=`email`]]`:ne=`0`:show]]">
      <div class="error_email uk-text-small">[[!+fi.error.email]]</div>
    </div>
    </div>
    <div class="uk-width-1-1">
      <textarea name="message" class="uk-width-1-1 uk-form-large uk-margin-bottom" placeholder="Примечания к покупке, адрес и вариант доставки, оплаты и т. д."></textarea>
    </div>
    <div class="uk-width-1-1">
      <button type="submit" class="uk-width-1-1 uk-button uk-button-large uk-button-success">Отправить</button>
    </div>
  </div>
</form>