<tr>
    <td>
        <a href="[[+url]]">[[+name]]</a>
    </td>
    <td>
        [[+addit_data:stripString=`#`:default=`&mdash;`]]
    </td>
    <td>
        [[+count]]
    </td>
    <td>
        [[+price:num_format]]
    </td>
</tr>