
<!--noindex-->

<div class="uk-overflow-container">
  <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Цена</th>
        <th>Статус</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      [[+inner]]
    </tbody>
  </table>
  <ul class="uk-pagination">
  [[+page.nav]]
  </ul>
</div>

<!--/noindex-->
