<div id="order-one-click" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header">
      <h2>Заказать в один клик</h2>
    </div>
    <h3 class="title">Товар: [[*pagetitle]] стоимостью [[*price]] [[!+shk_currency]]</h3>
    [[!AjaxForm?
      &snippet=`FormIt`
      &form=`order_one_click_form`
      &hooks=`spam,shk_fihook,email,FormItAutoResponder`
      &submitVar=`one-click`
      &emailTpl=`shopOrderReport`
      &emailSubject=`В интернет-магазине "[[++site_name]]" сделан новый заказ в ОДИН КЛИК`
      &emailTo=`[[++emailsender]]`
      &emailFrom=`[[++emailsender]]`
      &validate=`email:required`
      &errTpl=`<span class="error">[[+error]]</span>`
      &validationErrorMessage=`В форме содержатся ошибки!`
      &successMessage=`Ваш заказ успешно отправлен`
    ]]
  </div>
</div>