<h3>Оформление заказа</h3>
[[!AjaxForm?
  &snippet=`FormIt`
  &form=`order_form`
  &hooks=`spam,shk_fihook,email,FormItAutoResponder`
  &submitVar=`order`
  &emailTpl=`shopOrderReport`
  &emailSubject=`В интернет-магазине "[[++site_name]]" сделан новый заказ`
  &emailTo=`[[++emailsender]]`
  &emailFrom=`[[++emailsender]]`
  &validate=`fullname:required,email:email:required`
  &errTpl=`<span class="error">[[+error]]</span>`
  &validationErrorMessage=`В форме содержатся ошибки!`
  &successMessage=`Сообщение успешно отправлено`
]]

<script type="text/javascript">
$(document).bind('ready',function(){
    if ( SHK.data.delivery_name ) {
        $('select[name="shk_delivery"]','#shopOrderForm').val( SHK.data.delivery_name );
    }
    $('select[name="shk_delivery"]','#shopOrderForm').bind('change',function(){
        SHK.selectDelivery( $(this).val() );
    });
});
</script>

[[!shkOptions?
&get=`delivery,payments`
&post_name=`shk_delivery,payment`
&toPlaceholders=`1`
&pl_prefix=`shkopt_`
&tpl=`select_option`
]]
