<p><strong>Пришёл новый вопрос со страницы вопросов!</strong></p>

<p><strong>Имя: </strong> [[+fullname]]</p>
<p><strong>Email: </strong> [[+email]]</p>
<p><strong>Сообщение: </strong> [[+message]]</p>