<li id="ec-[[+thread_name]]-message-[[+id]]" class="ec-message">
  <article class="uk-comment">
    <header class="uk-comment-header">
      <h4 class="uk-comment-title">[[+user_name]]</h4>
      <div class="uk-comment-meta">
        [[+date:dateAgo]] 
      </div>
    </header>
    <div class="uk-comment-body">
      <p>[[+text]]</p>
      [[+reply_text]]
    </div>
  </article>
</li>
<!--ec_reply_text <div class="ec-message__reply">[[+reply_author]]<p>[[+reply_text]]</p></div>-->
<!--ec_reply_author <p><strong>[[+reply_author]]</strong></p>-->