<i class="uk-icon-balance-scale" aria-hidden="true"></i> <a href="[[+href_compare]]" data-uk-tooltip="{pos:'bottom'}" title="Сравнение товаров" onclick="return shkCompare.toCompareLink();"><span id="skolko_vibrano" class="uk-badge uk-badge-notification">[[+count_current]]</span></a> | 