<div class="toolbar" data-uk-sticky="{top:-100, animation: 'uk-animation-slide-top'}" >
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-3 uk-text-center-small uk-width-small-3-5 uk-text-center-small">
        <div class="user">
          <i class="uk-icon-user" aria-hidden="true"></i>
          [[!+modx.user.id:is=`0`:then=`<a href="[[~20]]">Вход / Регистрация</a>`:else=`<a href="[[~21]]">Приветствуем, [[!+modx.user.id:userinfo=`fullname`]]!</a>`]]
        </div>
      </div>
      [[$currency]]
      <div id="cart-wish-compare" class="uk-width-medium-1-3 uk-width-small-2-5 uk-text-right uk-text-center-small">
        [[addLooked? &templates = `1`]]
        <i class="uk-icon-eye" aria-hidden="true"></i> <a href="[[~26]]"  data-uk-tooltip="{pos:'bottom'}" title="Просмотренные товары"><span class="uk-badge uk-badge-notification">[[!countViewed]]</span></a></a> | 
        [[!compare@compare_products? &filterTVID=`4,16`]]
        [[!Shopkeeper3@cart_catalog]]
        </ul>
      </div>
    </div>
  </div>
</div>