<div class="uk-width-1-1 uk-row-first">
  <div class="uk-panel uk-panel-box">
    <p class="uk-text-small">Вы должны заполнить объязательные поля, отмеченные звёздочкой <span class="uk-text-large uk-text-danger">*</span></p>
    <form action="" method="post" id="office-profile-form" enctype="multipart/form-data" class="uk-form well">
      <div class="uk-grid">
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="avatar">[[%office_profile_avatar]]</label>
        </div>
        <div class="uk-width-medium-3-5">
          <img src="[[+photo:empty=`[[+gravatar]]?s=100`]]" id="profile-user-photo" data-gravatar="[[+gravatar]]?s=100" width="100" />&nbsp;
          <a href="#" id="office-user-photo-remove" [[+photo:is=``:then=`style="display:none;"`]]">
            [[%office_profile_avatar_remove]]
            <i class="uk-icon-remove"></i>
          </a>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">[[%office_profile_avatar_desc]]</p>
          <input type="hidden" name="photo" value="[[+photo]]" />
          <input type="file" name="newphoto" id="profile-photo" class="uk-margin-bottom"/>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="username">[[%office_profile_username]]<span class="uk-text-large uk-text-danger">*</span></label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" name="username" value="[[+username]]" placeholder="[[%office_profile_username]]"  class="uk-width-1-1" />
          <div class="uk-text-small uk-margin-small-top uk-text-danger help-block message">[[+error_username]]</div>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">[[%office_profile_username_desc]]</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="fullname">[[%office_profile_fullname]]<span class="uk-text-large uk-text-danger">*</span></label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" name="fullname" id="fullname" value="[[+fullname]]" placeholder="[[%office_profile_fullname]]" class="uk-width-1-1" />
          <div class="uk-text-small uk-margin-small-top uk-text-danger help-block message">[[+error_fullname]]</div>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">[[%office_profile_fullname_desc]]</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="email">[[%office_profile_email]]<span class="uk-text-large uk-text-danger">*</span></label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" id="email" name="email" value="[[+email]]" placeholder="[[%office_profile_email]]" class="uk-width-1-1"  />
          <div class="uk-text-small uk-margin-small-top uk-text-danger help-block message">[[+error_email]]</div>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">[[%office_profile_email_desc]]</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="email">Телефон</label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" id="phone" name="phone" value="[[+phone]]" placeholder="380990617440" class="uk-width-1-1"/>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">Укажите корректный международный формат номера телефона</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="country">Страна</label>
        </div>
        <div class="uk-width-medium-3-5">
          <select name="country" class="uk-width-1-1">
             <option [[+country:is=`Украина`:or:is=`UA`:then=`selected`:else=``]] value="Украина" [[!+fi.country:FormItIsSelected=`Украина`]] >Украина</option>
             <option [[+country:is=`Российская Федерация`:or:is=`RU`:then=`selected`:else=``]] value="Российская Федерация" [[!+fi.country:FormItIsSelected=`Российская Федерация`]] >Российская Федерация</option>
             <option [[+country:is=`Беларусь`:or:is=`BY`:then=`selected`:else=``]] value="Беларусь" [[!+fi.country:FormItIsSelected=`Беларусь`]] >Беларусь</option>
             <option [[+country:is=`Казахстан`:or:is=`KZ`:then=`selected`:else=``]] value="Казахстан" [[!+fi.country:FormItIsSelected=`Казахстан`]] >Казахстан</option>
          </select>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">Страна проживания</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="zip">Индекс</label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" name="zip" id="zip" value="[[+zip]]" placeholder="[[%office_profile_zip]]" class="uk-width-1-1"  />
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">Почтовый индекс позволяет ускорить процес доставки</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="state">Область</label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" name="state" id="state" value="[[+state]]" placeholder="[[%office_profile_state]]" class="uk-width-1-1"  />
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">Область или штат</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="city">Город</label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" name="city" id="city" value="[[+city]]" placeholder="[[%office_profile_city]]" class="uk-width-1-1"  />
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">Город, район, село</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="address">Адрес</label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="text" name="address" id="address" value="[[+address]]" placeholder="[[%office_profile_address]]" class="uk-width-1-1"  />
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">Улица, дом, квартира</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="password">[[%office_profile_password]]</label>
        </div>
        <div class="uk-width-medium-3-5">
          <input type="password" id="password" name="specifiedpassword" value="" placeholder="********" class="uk-width-1-1" />
          <div class="uk-text-small uk-margin-small-top uk-text-danger help-block message">[[+error_specifiedpassword]]</div>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">[[%office_profile_specifiedpassword_desc]]</p>
          <input type="password" name="confirmpassword" value="" placeholder="********" class="uk-width-1-1" />
          <div class="uk-text-small uk-margin-small-top uk-text-danger help-block message">[[+error_confirmpassword]]</div>
          <p class="uk-text-small uk-margin-bottom uk-margin-small-top">[[%office_profile_confirmpassword_desc]]</p>
        </div>
        <div class="uk-width-medium-2-5 uk-text-right uk-text-left-small">
          <label for="providers">[[%ha.providers_available]]</label>
        </div>
        <div class="uk-width-medium-3-5 uk-margin-bottom">
          [[+providers]]
        </div>
        <div class="uk-width-medium-2-5">&nbsp;</div>
        <div class="uk-width-medium-3-5">
          <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">[[%office_profile_save]]</button>
        </div>
      </div>
    </form>
  </div>
</div>
