<div class="uk-alert uk-alert-warning">
  <h3>Пожалуйста авторизируйтесь!</h3>
  <p>Для этого нужно перейти по <a href="[[~20]]">этой ссылке</a>. Авторизированные пользователи получают массу преимуществ, например Вы сможете:</p>
  <ul>
    <li>Не заполнять каждый раз контактные данные во время оформления заказа - при следующем заказе они будут подставлятся автоматически</li>
    <li>Ослеживать историю заказов</li>
    <li>Использовать накопительную систему скидок</li>
  </ul>
  <p>Если по каким-либо причинам, вы не хотите этого делать, тогда можете воспользоватся кнопкой <strong>Заказать в один клик</strong> на странице конкретного товара.</p>
</div>