/*--------------------------------------------------
  BASIC AND LESS
--------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic&subset=latin,cyrillic-ext);
body,
*,
h1,
h2,
h3,
h4,
h5,
h6,
.uk-navbar-nav > li > a {
  font-family: "Open Sans", sans-serif;
}
.uk-padding-small {
  padding: 10px;
}
.uk-table caption, .uk-table tfoot{
  font-size: 14px;
  font-style: normal;
}
/*--------------------------------------------------
  PRELOADER
--------------------------------------------------*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}
#page-preloader .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #000;
  font-size: 40px;
  margin: -20px 0 0 -20px;
}
/*--------------------------------------------------
  TOOLBAR
--------------------------------------------------*/
.toolbar {
  background-color: #666;
  color: #fff;
  padding: 10px 0;
}
.toolbar a {
  color: #fff;
}
.toolbar #cart-wish-compare{
  // text-align: right !important;
}
.toolbar #cart-wish-compare ul li {
  display: inline-block;
}
.toolbar #cart-wish-compare .uk-badge {
  font-weight: normal;
}
#header {
  padding: 20px 0;
  background-color: #fff;
}
#header #logo{
  width: 220px;
}
#header #logo a {
  text-decoration: none;
  color: #000;
}
#header #logo-icon {
  width: 50px;
  font-size: 52px;
  margin-bottom: 0;
}
#header #logo-text {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 12px;
}
#header .phone {
  font-size: 19px;
  margin-top: 10px;
}
#header .user {
  margin-bottom: 10px;
}
#main-nav .uk-navbar-flip .uk-badge {
  font-weight: normal;
}
#main-slider {
  margin-bottom: 20px;
}
.main-menu .uk-accordion-title {
  margin-bottom: 0;
}
.product {
  text-align: center;
}
.product.list{
  text-align: left;
}
.product .old-price {
  text-decoration: line-through;
  color: red;
}
.product .price {
  font-weight: bold;
  font-size: 20px;
}
footer {
  padding: 15px 0 30px;
  background-color: #4f5157;
  color: #adadae;
}
footer h3 {
  font-size: 20px;
  color: #adadae;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer .social-links a {
  font-size: 20px;
  background: #414349;
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  text-align: center;
}
footer .social-links a i {
  margin-top: 9px;
}
footer .social-links a:hover {
  color: #adadae;
}
.copy {
  background: #414349;
  color: #adadae;
  padding: 20px 0 20px;
}
.copy a {
  color: #fff;
  text-decoration: underline;
}
.copy #to-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -17px;
  width: 34px;
  background: #4f5157;
  color: #fff;
}
#offcanvas-cart .uk-offcanvas-bar .uk-table td,
#offcanvas-cart .uk-offcanvas-bar .uk-table th {
  padding: 0 10px 10px 0;
}
#offcanvas-cart .uk-offcanvas-bar .uk-table a {
  text-decoration: underline;
  color: #fff;
}
/*--------------------------------------------------
  CATALOG
--------------------------------------------------*/
#catalog .product.uk-panel {
  margin-bottom: 10px;
}
.uk-container #filters{
  margin: 0;
}
/*--------------------------------------------------
  PRODUCT
--------------------------------------------------*/
#content.product-page .social-likes.social-likes_visible {
  float: right;
}
#advantage .uk-icon-truck,
#advantage .uk-icon-credit-card,
#advantage .uk-icon-thumbs-o-up {
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.shop-cart-button {
  line-height: 38px;
}
#content.product-page .uk-dropdown-blank {
  width: 138px;
}
#order-one-click-button{
  line-height: 38px;
}
#currency-block .currency.active{
  color: #adadae;
}
#content .ec-message{
  border-radius: 0;
  box-shadow: none;
}
p.help-block{
  margin: 0;
}
.ec-error.help-block{
  color: red;
}
/*--------------------------------------------------
  CART
--------------------------------------------------*/
#shop-cart .uk-table td {
  padding: 8px;
}
#shop-cart .uk-table td,
.uk-table th {
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
}
#shop-cart .uk-table span.params {
  color: #999;
}
/*--------------------------------------------------
  CONTACT
--------------------------------------------------*/
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/*--------------------------------------------------
  COMPARE
--------------------------------------------------*/
.uk-alert-success {
  background-color: #b9df90;
  border: #a0d468;
  color: #3c763d;
}
/*--------------------------------------------------
  MOBILE
--------------------------------------------------*/
@media screen and (max-width: 768px) {
  #share-button button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #logo {
    display: block;
    margin: 0 auto 20px;
  }
}